body{
    background-color: rgb(255, 174, 0);
}

*{
    text-align: center;
}

.box{
    border-color: darkgray;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    position: absolute;
    left: 25em;
    right: 25em;
    top: 5em;
 

    background-color: orangered;
}

a:hover{
    color: greenyellow;
}

.white{
    color:white;
}

.imgborder{
    border-color: darkgray;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
}

.textmid{
    text-align: justify;
    left: 100px;
}

.center{
    margin-left: auto;
    margin-right: auto;

}

ul{
    text-align: center;
}

ol{
    text-align: center;
}

li{
    text-align: center;
}
